@import "bootstrap.min.css";
@import "bootstrap-theme.min.css";
@import "all.min.css";
@import "owl.carousel.min.css";
@import "owl.theme.default.min.css";

@font-face {
  font-family: 'AsapBold';
  src: url('../fonts/AsapBold.eot');
  src: url('../fonts/AsapBold.eot') format('embedded-opentype'),
  url('../fonts/AsapBold.woff2') format('woff2'),
  url('../fonts/AsapBold.woff') format('woff'),
  url('../fonts/AsapBold.ttf') format('truetype'),
  url('../fonts/AsapBold.svg#AsapBold') format('svg');
}
@font-face {
  font-family: 'AsapMedium';
  src: url('../fonts/AsapMedium.eot');
  src: url('../fonts/AsapMedium.eot') format('embedded-opentype'),
  url('../fonts/AsapMedium.woff2') format('woff2'),
  url('../fonts/AsapMedium.woff') format('woff'),
  url('../fonts/AsapMedium.ttf') format('truetype'),
  url('../fonts/AsapMedium.svg#AsapMedium') format('svg');
}
@font-face {
  font-family: 'AsapRegular';
  src: url('../fonts/AsapRegular.eot');
  src: url('../fonts/AsapRegular.eot') format('embedded-opentype'),
  url('../fonts/AsapRegular.woff2') format('woff2'),
  url('../fonts/AsapRegular.woff') format('woff'),
  url('../fonts/AsapRegular.ttf') format('truetype'),
  url('../fonts/AsapRegular.svg#AsapRegular') format('svg');
}
@font-face {
  font-family: 'AsapItalic';
  src: url('../fonts/AsapItalic.eot');
  src: url('../fonts/AsapItalic.eot') format('embedded-opentype'),
  url('../fonts/AsapItalic.woff2') format('woff2'),
  url('../fonts/AsapItalic.woff') format('woff'),
  url('../fonts/AsapItalic.ttf') format('truetype'),
  url('../fonts/AsapItalic.svg#AsapItalic') format('svg');
}



@mixin max-screen($res){
  @media screen and (max-width: $res){
    @content
  }
}



header{
  position: absolute;
  width: 100%;
  @include max-screen(767px){
    position: static;
  }
  .navbar-toggle .icon-bar{
    background-color: #4d4d4d;
  }
  .navbar-toggle{
    border: solid 1px #4d4d4d;
  }
  .navbar-brand{
    img{
      margin: auto;
    }
    p{
      text-align: center;
      margin: 0;
      line-height: 1.5;
      &:first-of-type {
        font-size: 14px;
        color: black;
      }
      &:last-child{
        font-size: 4px;
        color: black;
      }
    }
    @include max-screen(767px){
      height: auto;
    }
  }
  .navbar-nav>li>a{
    font-size: 16px;
    color: #4d4d4d;
    padding-bottom: 0;
    text-transform: uppercase;
    font-family: 'AsapRegular';
    &:hover{
      background-color: transparent;
      border-bottom: solid 2px #4d4d4d;
      @include max-screen(767px){
        border: none;
        color: #000;
        text-shadow: 1px 1px 10px #0A0A0A;
      }
    }
    @include max-screen(767px){
      padding-bottom: 10px;
    }
  }
  .navbar-collapse{
    background-color: #e1e1e1;
  }
  .navbar-header{
    background-color: #e1e1e1;
  }
  .navbar{
    border: none;
    margin: 0;
  }
}
.hero{
  background-image: url("../images/bg.png");
  img{
    width: 100%;
  }
  .row {
    position: absolute;
    top: 25%;

    h1 {
      font-size: 90px;
      color: #4d4d4d;
      font-family: 'AsapMedium';
      span {
        display: block;
        font-size: 22px;
        color: #4d4d4d;
      }
    }
    .btn{
      color: black;
      font-size: 16px;
      text-transform: uppercase;
      padding: 12px 12px;
      width: 160px;
      height: 48px;
      border: solid 1px black;
      border-radius: 0;
      font-family: 'AsapMedium';
      &:hover{
        background-color: white;
        border: transparent;
        -webkit-box-shadow: 0 0 20px 1px #262626;
        box-shadow: 0 0 20px 1px #262626;
      }
    }
    @include max-screen(770px){
      top: 10%;
      left: 5%;
      h1{
        font-size: 45px;
        span{
          font-size: 15px;
        }
      }

    }
    @include max-screen(767px){
      position: static;
      text-align: center;
      .btn{
        margin: 5px 0;
      }
    }
  }
}
.about_me{
  padding-top: 110px;
  padding-bottom: 120px;
  img{
    width: 100%;
  }
  h2{
    color: #4d4d4d;
    font-size: 22px;
    font-family: 'AsapBold';
    &:after{
      content: "";
      display: block;
      width: 60px;
      height: 2px;
      background-color: #4d4d4d;
    }
  }
  h3{
    color: #4d4d4d;
    font-size: 46px;
    font-family: 'AsapBold';
  }
  p{
    font-size: 16px;
    color: #4d4d4d;
  }
  .btn{
    color: #4d4d4d;
    font-size: 16px;
    text-transform: uppercase;
    padding: 13px 12px;
    width: 245px;
    height: 50px;
    border: solid 1px black;
    border-radius: 0;
    font-family: 'AsapMedium';
    &:hover{
      background-color: #e1e1e1;
      border: transparent;
      color: black;
      text-shadow: 1px 1px 10px #0A0A0A;
      -webkit-box-shadow: 0 0 20px 1px #262626;
      box-shadow: 0 0 20px 1px #262626;
    }
  }
}
.services{
  background-color: #f6f6f6;
  padding: 120px 0;
  h3{
    color: #4d4d4d;
    font-size: 46px;
    text-transform: uppercase;
    padding-bottom: 40px;
    font-family: 'AsapBold';
    &:before{
      content: "";
      display: block;
      width: 60px;
      height: 2px;
      background-color: #4d4d4d;
      margin: auto auto 20px;
    }
  }
  .block{
    padding-bottom: 25px;
    text-align: center;
    &:nth-child(2){
      &:before{
        background: url("../images/2.png") no-repeat center;
      }
    }
    &:nth-child(3){
      &:before{
        background: url("../images/3.png") no-repeat center;
      }
    }
    &:nth-child(4){
      &:before{
        background: url("../images/4.png") no-repeat center;
      }
    }
    &:nth-child(5){
      &:before{
        background: url("../images/5.png") no-repeat center;
      }
    }
    &:last-child{
      &:before{
        background: url("../images/6.png") no-repeat center;
      }
    }
    &:before {
      content: "";
      display: block;
      width: 90px;
      height: 81px;
      background: url("../images/1.png") no-repeat center;
      margin: auto;

    }
    a{
      color: #4d4d4d;
      font-size: 24px;
      text-decoration: none;
      font-family: 'AsapMedium';
      &:hover{
        text-shadow: 1px 1px 10px #0A0A0A;
        color: black;
      }
    }
  }
}

.my_skills{
  padding: 120px 0;
  background-color: white;
  h3{
    color: #4d4d4d;
    font-size: 46px;
    text-transform: uppercase;
    padding-bottom: 40px;
    font-family: 'AsapBold';
    &:before{
      content: "";
      display: block;
      width: 60px;
      height: 2px;
      background-color: #4d4d4d;
      margin: auto auto 20px;
    }
  }
  img{
    width: 100%;
  }
}

.portfolio{
  background-color: #f6f6f6;
  padding: 120px 0;
  h3{
    color: #4d4d4d;
    font-size: 46px;
    text-transform: uppercase;
    padding-bottom: 40px;
    font-family: 'AsapBold';
    &:before{
      content: "";
      display: block;
      width: 60px;
      height: 2px;
      background-color: #4d4d4d;
      margin: auto auto 20px;
    }
  }
  .block_1{
    width: 370px;
    height: 320px;
    background-color: #e1e1e1;
    display: inline-block;
    margin: auto auto 35px;
    position: relative;
    overflow: hidden;
    @include max-screen(767px){
      width: 300px;
      height: 250px;
      margin-left: 35px;
    }
    img{
      width: 100%;
    }
    &:hover{
      -webkit-box-shadow: 0 0 20px 1px #262626;
      box-shadow: 0 0 20px 1px #262626;
      &:after{
        opacity: 1;
        top:130px;
      }
    }
    &:after{
      content: "";
      display: block;
      background-image: url("../images/hover_arrow.png");
      position: absolute;
      left: 50%;
      margin-left: -30px;
      top: -130px;
      opacity: 0;
      transition: 0.5s;
      width: 57px;
      height: 57px;
      background-color: white;
    }
  }
  .btn{
    color: #4d4d4d;
    font-size: 16px;
    text-transform: uppercase;
    padding: 13px 12px;
    width: 245px;
    height: 50px;
    border: solid 1px black;
    border-radius: 0;
    margin: auto;
    font-family: 'AsapMedium';
    &:hover{
      background-color: white;
      border: transparent;
      color: black;
      text-shadow: 1px 1px 10px #0A0A0A;
      -webkit-box-shadow: 0 0 20px 1px #262626;
      box-shadow: 0 0 20px 1px #262626;
    }
  }
}
.testimonials {
  padding: 120px 0;
  h3 {
    color: #4d4d4d;
    font-size: 46px;
    text-transform: uppercase;
    padding-bottom: 40px;
    text-align: center;
    font-family: 'AsapBold';
    &:before {
      content: "";
      display: block;
      width: 60px;
      height: 2px;
      background-color: #4d4d4d;
      margin: auto auto 20px;
    }
  }

  .owl-carousel {
    border: solid 1px black;

    .avatar {
      width: 160px;
      height: 160px;
      display: block;
      background-image: url("../images/img_carousel.png");
      float: left;
      margin-right: 30px;
    }

    h4 {
      font-size: 30px;
      color: #212121;
      text-transform: uppercase;
      font-family: 'AsapMedium';
      span {
        display: block;
        padding-bottom: 16px;
        text-transform: uppercase;
        font-size: 12px;
        color: #212121;
        font-family: 'AsapItalic';
      }
    }

    p {
      font-size: 16px;
      color: #212121;
      font-family: 'AsapRegular';
    }

  }

  .owl-dots {
    text-align: center;
  }

  .owl-carousel button.owl-dot span {
    width: 13px;
    height: 13px;
    background-color: transparent;
    border: solid 1px black;
    display: inline-block;
    margin: 0 5px;
  }

  .owl-carousel button.owl-dot.active span {
    background-color: black;
  }
}
.fun_fact{
  background-color: #f6f6f6;
  margin-bottom: 120px;
  padding: 70px 0;
  h5{
    font-size: 30px;
    color: #212121;
    font-family: 'AsapRegular';
    span{
      display: block;
      font-size: 22px;
      color: #212121;
      text-transform: uppercase;
      font-family: 'AsapMedium';
    }
  }
  .block_2 {
    padding-top: 25px;
    text-align: center;

    &:nth-child(2) {
      &:before {
        background: url("../images/happiness.png") no-repeat center;
      }
    }

    &:nth-child(3) {
      &:before {
        background: url("../images/delivery-complete.png") no-repeat center;
      }
    }
    &:last-child {
      &:before {
        background: url("../images/cup.png") no-repeat center;
      }
    }

    &:before {
      content: "";
      display: block;
      width: 90px;
      height: 81px;
      background: url("../images/study.png") no-repeat center;
      margin: auto;

    }
  }
}

footer {
  position: relative;
  background-color: #646465;

  img {
    width: 100%;
    position: relative;
    z-index: -1;
    //bottom: 0;
  }

  h3 {
    color: white;
    width: 100%;
    font-size: 46px;
    text-transform: uppercase;
    padding-bottom: 40px;
    text-align: center;
    position: absolute;
    top: 10%;
    font-family: 'AsapBold';
    &:before {
      content: "";
      display: block;
      width: 60px;
      height: 2px;
      background-color: #4d4d4d;
      margin: auto auto 20px;
    }
    @include max-screen(770px){
      top: 0;
    }
    @include max-screen(767px){
      position: static;
    }
  }

  .say_hello {
    position: absolute;
    width: 100%;
    top: 20%;
    @include max-screen(770px){
      top: 10%;
    }
    @include max-screen(767px){
      position: static;
    }

    form {
      position: absolute;
      top: 25%;
      left: 31%;
      margin-top: 70px;
      @include max-screen(767px){
        position: static;
        margin: 0 0 0 9px;
      }

      input {
        width: 370px;
        height: 60px;
        border: none;
        font-family: 'AsapRegular';
        &:last-of-type {
          margin-left: 25px;
          @include max-screen(770px) {
            margin-left: 10px;
          }
          @include max-screen(767px){
            margin-left: 0;
          }
        }

        @include max-screen(770px) {
          width: 185px;
          height: 30px;
        }
        @include max-screen(767px){
          width: 148px;
        }
      }

      textarea {
        display: block;
        width: 770px;
        height: 210px;
        margin: 30px 0;
        border: none;
        font-family: 'AsapRegular';
        @include max-screen(770px) {
          width: 385px;
          height: 105px;
          margin: 15px 0 0;
        }
        @include max-screen(767px){
          width: 300px;
        }
      }

      button {
        font-family: 'AsapMedium';
        span {
          float: left;
          text-align: center;
          padding: 0 0 0 30px;
        }

        width: 125px;
        height: 50px;
        margin-top: 30px;
        position: relative;
        left: 42%;
        border: none;
        background-color: white;
        padding-top: 5px;

        &:after {
          content: "";
          display: block;
          background-image: url("../images/send-button.png");
          background-repeat: no-repeat;
          width: 15px;
          height: 13px;
          float: right;
          margin: 3px 5px 0;
          padding-right: 30px;
        }

        &:hover {
          background-color: #e1e1e1;
          -webkit-box-shadow: 0 0 20px 1px #262626;
          box-shadow: 0 0 20px 1px #262626;
        }

        @include max-screen(770px) {
          left: 33%;
          margin-top: 10px;
        }
        @include max-screen(767px){
          position: static;
          height: 30px;
          margin-left: 83px;
        }
      }

      @include max-screen(770px) {
        left: 25%;
      }
    }
  }

  .container {
    position: absolute;
    bottom: 0;
    z-index: 1;
    border-top: solid 1px white;
    left: 20%;
    padding: 25px 0;
    @include max-screen(770px){
      left: 1%;
    }
    @include max-screen(767px){
      position: static;
    }


    a {
      width: 30px;
      height: 30px;
      background-color: white;
      float: left;
      margin-left: 15px;
      color: #444444;
      @include max-screen(767px){
        margin-left: 24px;
      }

      .fab {
        font-size: 20px;
        text-align: center;
        margin: 5px;
      }

      .fa-facebook-f {
        margin-left: 10px;
      }

      .fas {
        font-size: 20px;
        text-align: center;
        margin: 5px;
      }

      &:hover {
        background-color: #2aabd2;
        color: white;
      }
    }

    p {
      color: white;
      font-size: 16px;
      @include max-screen(770px){
        font-size: 14px;
      }
    }
  }
}